@import './base.css';

a {
  color: rgb(55, 129, 227);
  transition: 0.4s;
  padding: 3px;
}

/*
  Apply this class to text that can have various backgrounds to ensure it
  remains contrastive.
*/
.contrast-text {
  mix-blend-mode: difference;
}

.pillow {
  display: inline-block;
  text-decoration: none; /* If applied to anchors */
  color: var(--color-text);
  background-color: var(--color-background-soft);
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;

  &.contrast {
    background-color: var(--vt-c-indigo);
    color: white;
    border-color: white;
  }
}

/* General form styling */
form {
  fieldset {
    border-radius: 4px;
    border: 1px solid var(--color-border);
    margin: 20px 0;
  
    legend { color: var(--color-text-mute); }
  }

  label {
    small { color: var(--color-text-mute); }
  }
  
  input {
    font-size: 24px;
    display: block;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 5px 10px;
    width: 100%;
    margin: 5px 0;
    color: var(--color-text);
    background-color: var(--color-background-soft);
  
    &:read-only:not([type=submit]):not([type=button]):not([type=checkbox]) {
      background-color: var(--color-background-mute);
      color: var(--color-text-mute);
      cursor: not-allowed;
    }
  
    &[type=submit] {
      cursor: pointer;
    }
  }
  
  .form-line {
    margin: 20px 0;
  }
  
  .form-checkbox-line {
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    justify-content: left;
  }
}
