@import './base.css';

a {
  color: rgb(55, 129, 227);
  transition: 0.4s;
  padding: 3px;
}

/*
  Apply this class to text that can have various backgrounds to ensure it
  remains contrastive.
*/
.contrast-text {
  color: white;
  mix-blend-mode: difference;
}
